*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #d8dee5;
}

#page-container {
    position: relative;
    
}

main {
    font-family: 'Arial', sans-serif;
    padding-top: 20px;
}

main h1, main h2 {
    color: #333;
    margin-bottom: 0.5em;
}

main p, main li {
    color: #666;
    line-height: 1.6;
}

.about-us {
    padding: 20px 0 10px 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: #fff;
}

.philosophy {
    padding: 20px 0 10px 10px;
    margin-bottom: 20px;
}

.facilities {
    padding: 20px 0 10px 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: #fff;
}

.facilities ul {
    list-style-type: none;
    padding-left: 0;
}

.facilities li {
    padding: 5px 0;
}

.community {
    padding: 20px 0 10px 10px;
    margin-bottom: 20px;
}

.join-us {
    padding: 20px 0 10px 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: #fff;
}

main ul {
    list-style-type: none;
    padding-left: 0;
}