.header {
    position: sticky;
    top: 0;
    background-color: #0a1a2e;
    z-index: 999;
}

.logo {
    display: block;
    cursor: pointer;
    margin-right: auto;
    height: 100px;
    width: 100px;
}

.nav-title {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: auto;
}

/* Bootstrap overrides */

.navbar {
    background-color: #0a1a2e;
    color: white;
    margin: 0 1.5rem;
    --bs-navbar-toggler-border-color: #3f6082 !important;
}

.navbar-nav .nav-link {
    color: #fff !important;
    font-size: 1.5rem;
}

.navbar-toggler {
    color: #fff !important;
}

/* Bootstrap overrides */

@media (max-width: 1035px) {
    .nav-list {
        font-size: 20px;
        gap: 10px;
    }

    .navbar {
        margin: 0 0;
    }

    .container-fluid {
        padding: 0 0;
    }
}

@media (max-width: 991.98px) {
    .navbar-collapse {
        margin-left: 1rem;
    }
}

@media (max-width: 612px) {
    .nav-list {
        flex-direction: column;
        font-size: 20px;
        gap: 4px;
    }

    .nav-title {
        font-size: 1.2rem;
    }
}